body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
button[id='color'],[id='place'],[id='ritual']{
    height: 60px;
    width: 50px;
    background-color:tan ;
    color: magenta;
    border: 1px;
    border-radius: 75%;
    font-size: 10px;
}
/* button[id='place']{
    height: 60px;
    width: 50px;
    background-color: red;
    color: gold;
    border: 1px;
    border-radius: 50%;
    font-size: 10px;
}
button[id='ritual']{
    height: 60px;
    width: 50px;
    background-color: whitesmoke;
    color:black;
    border: 1px;
    border-radius: 75%;
    font-size: 10px;
} */